/* Contenedor principal del chat */
.chat-container {
  display: flex;
  flex-direction: column-reverse;
  height: 40rem; 
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 0.625em;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Mensajes en general */
.message_s {
  max-width: 70%;
  word-wrap: break-word;
  padding: 0.625em;
  margin: 0.3125em;
  border-radius: 0.625em;
  font-size: 1rem;
}

.message_r {
  max-width: 70%;
  word-wrap: break-word;
  padding: 0.625em;
  margin: 0.3125em;
  border-radius: 0.625em;
  font-size: 1rem;
}

/* Mensajes del usuario (a la derecha) */
.user-message {
  align-self: flex-end;
  background-color: #4CAF50;
  color: white;
}

/* Mensajes del bot (a la izquierda) */
.bot-message {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: black;
}

/* Estilos del input */
input {
  flex-grow: 1;
  padding: 0.625em;
  border: 0.0625em solid #ccc;
  border-radius: 0.3125em;
  font-size: 1rem;
  outline: none;
  width: 100%;
  max-width: 80vw;
}

/* Estilos del botón */
button {
  padding: 0.625em 1em;
  margin-left: 0.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

button:hover {
  background-color: #45a049;
}

.prompt {
  padding: 0.625rem;
  margin: 0.625rem;
}

/* Estilos responsivos para móviles y pantallas pequeñas */
@media screen and (max-width: 768px) {
  .chat-container {
    height: 70vh;
    max-width: 95vw;
    margin-right: 10%;
  }

  .message {
    max-width: 85%;
    font-size: 0.9rem;
  }

  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0.500em;
    box-sizing: border-box;
  }

  button {
    padding: 0.625em 1em;
    margin: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
  }
}
