/* Contenedor principal del chat */
.chat-container {
  display: flex;
  flex-direction: column-reverse ;
  height: 40rem; 
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 0.625em;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Mensajes en general */
.message {
  max-width: 70%;
  word-wrap: break-word;
  padding: 0.625em;
  margin: 0.3125em;
  border-radius: 0.625em;
  font-size: 1rem;
}


/* Mensajes del usuario (a la derecha) */
.user-message {
  text-align: justify;
  align-self: flex-end;
  background-color: #4CAF50;
  color: white;
}

/* Mensajes del bot (a la izquierda) */
.bot-message {
  text-align: justify;
  align-self: flex-start;
  background-color: #e0e0e0;
  color: black;
}

/* Estilos del input */
input {
  flex-grow: 1;
  padding: 0.625em;
  border: 0.0625em solid #ccc;
  border-radius: 0.3125em;
  font-size: 1rem;
  outline: none;
  width: 100%;
  max-width: 80vw;
}

/* Estilos del botón */
button {
  padding: 0.625em 1em;
  margin-left: 0.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

button:hover {
  background-color: #45a049;
}

.prompt {
  padding: 0.625rem;
  margin: 0.625rem;
}

  /* Estilos para la animación de carga */
  .loading {
    display: flex;
    align-items: center;
  }
  
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 8px;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }

  button:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.7; /* Opcional para darle un aspecto más apagado */
  }

/* Estilos responsivos para móviles y pantallas pequeñas */
@media screen and (max-width: 768px) {
  .chat-container {
    height: 70vh;
    max-width: 95vw;
    margin-right: 10%;
  }

  .message {
    max-width: 85%;
    font-size: 0.9rem;
    text-align: right;
  }

  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0.500em;
    box-sizing: border-box;
  }

  button {
    padding: 0.625em 1em;
    margin: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
  }

}